*{
margin:0px;
padding:0px;
}
body{
background-color:orange;
}
.container{
width:800px;
margin:30px auto;
text-align:center;
}
#seconds,
#tens{
font-size:2rem;
}
h1{
font-size:3rem;
text-align:center;
font-family:"Montserrat",sans-serif;
line-height:59px;
padding:0 64px;
display:grid;
justify-item:center;
}
h2{
font-size:2rem;
text-align:center;
font-family:"Montserrat",sans-serif;
line-height:59px;
padding:0 64px;
display:grid;
justify-item:center;
}
#second{
background:transparent;
border:none;
color:white;
margin-left:125px;
padding:15px 26px;
text-align:center;
text-decoration:none;
display:inline-block;
font-size:3rem;
line-height:180px;
top-margin:180px;
}
#start{
background:transparent;
border:none;
color:white;
margin-left:125px;
padding:10px 25px;
text-align:center;
text-decoration:none;
display:inline-block;
font-size:3rem;
line-height:180px;
top-margin:180px;

}
#start,
#reset,
#stop{
background:transparent;
border:none;
color:white;
margin-left:25px;
padding:1px 25px;
text-align:center;
text-decoration:none;
display:inline-block;
font-size:3rem;
line-height:80px;
top-margin:80px;
}
button:hover{
background-color:black;
font-weight:800;
}





